<div>
  <h1><a href="<%= @link.url %>"><%= @link.title %></a><br> <small>Submitted by <%= @link.user.email %></small></h1>
</div>

<div>
  <%= link_to 'Visit URL', @link.url %>
</div>

<% if @link.user == current_user %>
  <div>
    <%= link_to 'Edit', edit_admins_link_path(@link) %>
    <%= link_to 'Destroy', admins_link_path(@link), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
